<div class="col s12 m12 l12">
    <nav>
       <div class="center nav-wrapper grey lighten-3">
          <a href="#" class="center header-text">EASY FARMING SYSTEM</a>
       </div>
    </nav>
 </div>
 <div class="container" id="plotContainer">
	<div id="plotLabel">
		<h6>{{title}}</h6>
	</div>
	<div id="plots" class="container white">
		<button data-target="requestModal" class="btn modal-trigger plot-button large">1</button>
	</div>
	<div id="checkBoxGroup">
		<form>
			<p>
		      <input type="checkbox" id="selectAll"/>
		      <label for="selectAll">Select All</label>
		    </p>
		</form>
	</div>
</div>